_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Wav files
Season 01/01 Lum/Raw Interview File/lum-music-app-raw-interview-normalized.wav
Season 01/02 FMA - Cheyanne (Music Site)/Raw Interview File/180817_0087.wav
Season 01/02 FMA - Cheyanne (Music Site)/Raw Interview File/180817_cheyanne-fma-normalized.wav
Season 01/03 Rock the Jake (YouTube Creator)/Raw Interview Files/180907_0098.wav
Season 01/03 Rock the Jake (YouTube Creator)/Raw Interview Files/rock-the-jake-raw-interview.wav
